@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
  font-family: 'Wremena Bold';
  src: url('../fonts/Wremena Bold.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Wremena Bold', Times, serif;
}

p {
  font-family: 'Inter', Times, serif;
}

a {
  color: inherit !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
