$radius: 0.5rem;

.bookCard {
  position: relative;
  max-width: 10rem;
  min-height: 26rem;
  margin: 1rem;

  img {
    border-radius: $radius;
  }

  &:hover {
    img {
      transform: translateY(-0.5rem, 0.5rem);
    }
  }
}
