$radius: 0.5rem;

.bookCard {
  position: relative;
  max-width: 9rem;
  min-height: 26rem;
  margin: 1rem;

  .bookImage {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      box-shadow: -3px 2px 1rem 0px rgb(0 0 0 / 10%);
      border-radius: $radius;
      transition: all 0.2s ease-in-out;
    }
  }

  .bookItem {
    position: relative;

    &:hover {
      background-color: #c5c5c528;
      border-radius: $radius;

      .bookImage {
        img {
          position: relative;
          transform: translate(-10px, -10px);
          transition: all 0.3s ease-in-out;
          filter: brightness(0.6);
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 1.063rem;
          width: 100%;
          height: 100%;
          border-radius: $radius;
          border: 0.2rem dashed black;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .bookBody {
    min-height: 6.8rem;
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: pre-line;
    }
    .categoryHighlight {
      background-color: #242424;
      color: white;
      text-align: center;
      border-radius: 10rem;
    }

    .doubleLine {
      line-height: 2.4rem;
    }
  }

  .bookmark {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: -2.25rem;
    left: 5.563rem;
    color: #616161ad;
    transition: all 0.2s ease-in-out;
  }

  .bookmark-trans {
    display: block;
    transform: translate(-10px, -10px);
    transition: all 0.2s ease-in-out;
  }
}
