.search-container {
  width: 30.625rem;
  margin: 0 auto;

  input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    padding: 0 20px 0 20px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    border-radius: 50px;
    outline: none;
    &:focus,
    &:hover {
      border: 1px solid black;
      transition: 0.35s ease;
      color: #4e4e4e;
      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }

    &:hover + .search-icon {
      transition: 0.35s ease;
      filter: invert(1);
    }
  }

  .search-icon {
    border: 0 !important;
    position: relative;
    float: right;
    top: -66px;
    right: -6px;
    &:hover {
      cursor: pointer;
    }
  }
}
